flask==3.1.2
numpy

# OpenCV no Windows
opencv-python; sys_platform == "win32"

# OpenCV no Raspberry Pi (Linux ARM)
opencv-python-headless; sys_platform == "linux"

# Bibliotecas específicas do Raspberry Pi
picamera2; sys_platform == "linux"
python-prctl; sys_platform == "linux"
