flask==3.1.2
numpy>=1.24
scipy
noisereduce
Pillow
pybind11>=2.10.0
pkgconfig>=1.5.5

# OpenCV no Windows
opencv-python; sys_platform == "win32"

# OpenCV no Linux
opencv-python-headless; sys_platform == "linux"
